<footer class="footer">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6" id="my_journals">
            <a href='/myjournal'> My Journals </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6" id="gallery">
            <a href='/gallery'> Gallery </a>
        </div>

    </div>
</footer>