<!-- Header -->
<header id="header">
    <a id="back_btn"><i class="fa fa-chevron-left"></i></a>
    <h1><a href="/myjournal">Journal Up</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="/newjournal"><i class="fa fa-paint-brush"></i> New Journal</a></li>


                        <li><p></p><a href="/myjournal"> <i class="fa fa-home"></i> My Journals</a></li>
                        <li><a href="/favorite"><i class="fa fa-heart"></i> My Favorites</a></li>
                        <li><a href="/gallery"><i class="fa fa-university"></i> Gallery</a></li>
                        <!--<li><a href="#">Sign Up</a></li>-->

                        <!--<li><p></p><a href="/setting"><i class="fa fa-cog"></i> Settings</a></li>-->
                        <li><p></p><a id="log_out"><i class="fa fa-sign-out"></i> Log Out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>

</header>


<script>
    $(document).on('ready', function() {
        $('#log_out').click(function(e){
            e.preventDefault();

            var body = $('body');
            body.removeClass('is-menu-visible');
            console.log(header);

            swal({
                title: "Sure to leave?",
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "transparent",
                confirmButtonText: "Leave",
                cancelButtonText: "Stay",
                closeOnConfirm: true,
                closeOnCancel: true
            }, function (isConfirm) {
                if (isConfirm) {
//                    menu.show();

                    if(WB2.checkLogin()){
                        WB2.logout(function(){
                            window.location.replace("/");
                        });
                    }
                    else{
                        window.location.replace("/");
                    }
                } else {
//                    menu.show();
                }
            });

        });

//        $('#back_btn').click(function(e){
//            e.preventDefault();
//            window.history.back();
//        });
    });

</script>