<!-- Header -->
<header id="header">
    <h1><a href="/">Journal Up</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/myjournal">My Journals</a></li>
                        <li><a href="/journal/new">New Journal</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <!--<li><a href="#">Sign Up</a></li>-->
                        <li><a href="/">Log Out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>

</header>