<div class="header row">
    <div class="col-md-2 col-sm-2 col-xs-2">
        <a href="/" class="back_btn"> <img src="/images/back_btn.png"> </a>
    </div>

    <div class="col-md-8 col-sm-8 col-xs-8">
        <p> Journal Up </p>
    </div>

    <div class="col-md-2 col-sm-2 col-xs-2">
        <a href="/" class="logout_btn"> <img src="/images/logout_btn.png"> </a>
    </div>
</div>

<div class="empty"> </div>