<title>Journal Up</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
<!--<link rel="stylesheet" href="JournalUp/assets/css/main.css" />-->

<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->

<!--dialog css-->
<link rel="stylesheet" type="text/css" href="/css/dialog/normalize.css" />
<link rel="stylesheet" type="text/css" href="/css/dialog/demo.css" />
<link rel="stylesheet" type="text/css" href="/css/dialog/dialog.css" />
<link rel="stylesheet" type="text/css" href="/css/dialog/dialog-annie.css" />

<!--dialog script-->
<script src="/js/modernizr.custom.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/dialogFx.js"></script>

<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css" />

<!--sweetalert-->
<script src="/js/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/sweetalert.css">

<!--journal up css-->
<link href="/css/journalup.css" type="text/css" rel="stylesheet">


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
<script src="/js/main.js"></script>


