<div class="thumbnail">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-5">
            <img class="journal_cover img-thumbnail" src="images/{{image}}"/>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-7">
            <h3> {{title}} </h3>
            <p> {{date}} </p>
            <p> collaborators: {{collaborators}}</p>
        </div>
    </div>
</div>