<div class="row" id="profile">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="images/profilepic.png" class="img-circle">
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8">
        <div>
            <ul>
                <p id="user_name"> Mubin Wang</p>
                <p> published <span class="highlight">5 </span>journals </p>
                <p> collaborated with <span class="highlight"> 10 </span> people </p>
            </ul>
        </div>
    </div>
</div>