<div class="row" id="profile">

    <div class="col-md-4 col-sm-4 col-xs-4">
        <div id="profile-img">
            <img src="{{user.profilePicture}}">
        </div>
        
    </div>

    <div class="col-md-8 col-sm-8 col-xs-8">
        <div>
            <ul>
                <p> {{user.name}}</p>
                <p> published <span class="highlight"> {{user.journals.length}} </span>journals </p>
                <!--<p> collaborated with <span class="highlight">{{user.collaborators.length}} </span> people-->
                </p>
            </ul>
        </div>
    </div>

</div>