<div class="row" id="profile">

    <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="{{user.profilePicture}}" class="img-circle">
    </div>

    <div class="col-md-8 col-sm-8 col-xs-8">
        <div>
            <ul>
                <p> {{user.name}}</p>
                <p> published <span class="highlight"> {{user.journalNum}} </span>journals </p>
                <p> collaborated with <span class="highlight">{{user.collaboratorNum}} </span> people </p>
            </ul>
        </div>
    </div>

</div>