<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

<!--<div class="header">-->
    <!--<a href="/journal/edit">-->
        <!--<img src="/images/back_btn.png">-->
    <!--</a>-->
    <!--<p> Manage Content </p>-->
<!--</div>-->

<!--<div class="empty"></div>-->

{{> header}}

<div class="container">
    <div class="row">


        <div class="col-xs-4 media-container">
            <a href="#" class="thumbnail media">
                <img src="{{coverImage}}">
            </a>
        </div>

        {{#each images}}
            <div class="col-xs-4 media-container">
                <a href="#" class="thumbnail media">
                    <img src={{this}} alt="...">
                </a>
            </div>
        {{/each}}

        <!--<div class="col-xs-4 media-container">-->
            <!--<a href="#" class="thumbnail media fileloading" id="add_media_btn" type="file">-->
                <!--<img src="/images/add.png" alt="...">-->
            <!--</a>-->
        <!--</div>-->

        <!--<form id="add_image" class="input-container" action="/add_image"-->
              <!--method = "post" enctype="multipart/form-data"-->
                <!--onsubmit="alert('thank you!')">-->

        <form id="add_image" class="input-container" action="javascript:;"
              method = "post" enctype="multipart/form-data">

            <input type="hidden" name="journal_id" value="{{_id}}">
            <input type="file" name="image" class="12u$ button upload_btn"
                   accept="application/x-zip-compressed,image/*"
                   title="Add a picture!">

            <div id="button-create">
                <input type="submit" class="button" value="Add a picture!">
            </div>

            <!--<div id="button-create">-->
                <!--<input id="anotherAddBtn" type="submit" class="button" value="Another add!">-->
            <!--</div>-->

        </form>

    </div>

    <div clss="empty" style="height:10em"> </div>

</div>

<!--loading effect-->
<div class="modal"><!-- Place at bottom of page --></div>

<footer class="footer">
    <div class="12u$">
        <ul class="actions">
            <li><a href="/journal/{{_id}}" class="button special">View Journal</a></li>
        </ul>
    </div>
</footer>


<script>
    $(document).on('ready', function() {

        $('#back_btn').attr('href', '/myjournal');

        $("#add_image").submit(function (event) {

            //disable the default form submission
            event.preventDefault();
            //grab all form data

//            var formData = $(this).serialize();
            var formData = new FormData($(this)[0]);

            console.log("formData:" + formData);

            //loading effect (to be added)

            //AJAX REQUEST HERE
            $.ajax({
                url: '/add_image',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function () {
                    swal({
                                title: "Picture added!",
                            },
                            function(){
                                swal("Please wait...");
                                window.location.reload();
                            });
                },
                error: function(){

                    swal("Met some problems, please try again :P");
                }
            });
        });

    });
</script>

</body>
</html>