<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

<!--<div class="header">-->
    <!--<a href="/journal/edit">-->
        <!--<img src="/images/back_btn.png">-->
    <!--</a>-->
    <!--<p> Manage Content </p>-->
<!--</div>-->

<!--<div class="empty"></div>-->

{{> header}}

<div class="container">
    <div class="row">


        <div class="col-xs-4 media-container">
            <a href="#" class="thumbnail media">
                <img src="{{coverImage}}">
            </a>
        </div>

        {{#each images}}
            <div class="col-xs-4 media-container">
                <a href="#" class="thumbnail media">
                    <img src={{this}} alt="...">
                </a>
            </div>
        {{/each}}

        <div class="col-xs-4 media-container">
            <a href="#" class="thumbnail media fileloading" id="add_media_btn" type="file">
                <img src="/images/add.png" alt="...">
            </a>
        </div>

        <input id="input-4" name="input4[]" type="file" multiple class="file-loading">
        <script>
            $(document).on('ready', function() {
                // $("#input-4").fileinput({showCaption: false});
                $('#add_media_btn').click(function(){
                    console.log("add_media_btn clicked!");

                    swal("add new media here!");
                });
            });
        </script>

    </div>

    <div class="empty"> </div>

    <div class="12u$">
        <ul class="actions">
            <li><a href="/journal/{{id}}" class="button special">View Journal</a></li>
        </ul>
    </div>

</div>

</body>
</html>