<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

{{> header}}

{{> profile_info}}

<div class="container">

    {{#if isEmpty}}
        <p class="notice"> Welcome! let's <a href="/newjournal">create</a> your first journal</p>

    {{else}}
        {{#each journals}}
            {{> journal_block }}
        {{/each}}
    {{/if}}

</div>

<div class="empty"> </div>

<footer class="footer">
    <div class="12u$">
        <ul class="actions">
            <li><a href="/newjournal"class="button special AddTestJournal" id="AddTestJournal">New Journal</a></li>
        </ul>
    </div>
</footer>

<script>
    $(document).on('ready', function() {
        $('#back_btn').hide();
        $('#header h1').css('left', '1.5em');
    });
</script>

</body>
</html>