<!DOCTYPE html>
<html lang="en">

<html>
<head>
    <title>Journal Up</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
    <!--<link rel="stylesheet" href="JournalUp/assets/css/main.css" />-->



    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />
    <link href="/css/journalup.css" type="text/css" rel="stylesheet">


    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/util.js"></script>
    <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
    <script src="/js/main.js"></script>

</head>

<body>

{{> header}}

<div class="row" id="profile">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="images/profilepic.png" class="img-circle">
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8">
        <div>
            <ul>
                <p id="user_name"> Mubin Wang</p>
                <p> published <span class="highlight">5 </span>journals </p>
                <p> collaborated with <span class="highlight"> 10 </span> people </p>
            </ul>
        </div>
    </div>
</div>

<hr>

<div class="container">

    {{#each journals}}
        {{> journal_block }}
    {{/each}}


    <div class="thumbnail" id="new_journal" >
        <a href="/newjournal">
            <img class="add_journal" src="images/add.png"/>
        </a>
    </div>


</div>

</body>
</html>