<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

{{> header}}

{{> profile_info}}

<div class="container">

    {{#each journals}}
        {{> journal_block }}
    {{/each}}


    <div class="thumbnail" id="new_journal" >
        <a href="/newjournal">
            <img class="add_journal" src="images/add.png"/>
        </a>
    </div>

    <div class="12u$">
        <ul class="actions">
            <li><a class="button special AddTestJournal" id="AddTestJournal">Add Test
                Journal</a></li>
        </ul>
    </div>


    <!--modal test-->
    <!--<a href="#openModal">Open Modal</a>-->

    <!--<div id="openModal" class="modalDialog">-->
        <!--<div>	<a href="#close" title="Close" class="close">X</a>-->

            <!--<h2>Modal Box</h2>-->

            <!--<p>This is a sample modal box that can be created using the powers of CSS3.</p>-->
            <!--<p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>-->
        <!--</div>-->
    <!--</div>-->

</div>

</body>
</html>