<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

<!--<div class="header">-->
    <!--<a href="/journal">-->
        <!--<img src="/images/back_btn.png">-->
    <!--</a>-->
    <!--<p> New Journal </p>-->
<!--</div>-->

<!--<div class="empty"></div>-->
{{> header}}

<form id="create-journal-form" role="form" method="get" action="/createjournal">
    
    <div class="input-container form-group">
        <label for="title">Title</label>
        <div class="input-group col-xs-12">
            <input type="text" name="title" class="form-control" id="title" placeholder="Title">
        </div>
    </div>

    <div class="input-container form-group">
        <label for="form-collaborator">Collaborators</label>
        <div class="input-group">
            <input type="text" name="collaborators" class="form-control" id="collaborator" placeholder="Enter username">
    		  <span class="input-group-btn">
    			<button class="btn" type="button">Search</button>
    		  </span>
        </div>
    </div>


    <div class="input-container">
        <div class="row">
            <div class="form-group col-xs-6">
                <label>Start Date</label>
                <div class='input-group' id='startdate' >
                    <input type='text' name='startdate' class="form-control datepicker" />
    					<span class="input-group-addon">
    						<span class="glyphicon glyphicon-calendar "></span>
    					</span>
                </div>
            </div>
            
            <div class="form-group col-xs-6">
                <label>End Date</label>
                <div class='input-group' id='enddate'>
                    <input type='text' name='enddate' class="form-control datepicker" />
    					<span class="input-group-addon">
    						<span class="glyphicon glyphicon-calendar"></span>
    					</span>
                </div>
            </div>
        </div>
    </div>

    <div class="input-container">
        <label for="description">Description</label>
        <div class="input-group col-xs-12">
            <input type="text" name="description" class="form-control" id="description" placeholder="Something about your trip">
        </div>
    </div>


    <div class="input-container" >
        <label for="form-photo">Cover Photo</label>
        <div class="col-xs-12">
            <div class="thumbnail">
                <img src="" alt="...">
                <a href="#" class="btn btn-default" role="button">Choose from library</a>
            </div>
        </div>
    </div>

    <div id="button-create">
    <input type="submit" class="button special" value="Create New Journal"></input>
    </div>
    <!--div class="12u$">
        <ul class="actions">
            <li><a href="/myjournal" class="button special" id="create_journal">Create New Journal</a></li>
        </ul>
    </div-->
</form>


        


</body>
</html>