<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

<!--<div class="header">-->
    <!--<a href="/journal">-->
        <!--<img src="/images/back_btn.png">-->
    <!--</a>-->
    <!--<p> New Journal </p>-->
<!--</div>-->

<!--<div class="empty"></div>-->
{{> header}}

<form id="create_journal_form" role="form" action="/createjournal" class="input-container" method = "post"
      enctype="multipart/form-data">
    
    <div class="input-container form-group">
        <label for="title">Title</label>
        <div class="input-group col-xs-12">
            <input type="text" name="title" class="form-control" id="title" placeholder="Title">
        </div>
    </div>

    <!--<div class="input-container form-group">-->
        <!--<label for="form-collaborator">Collaborators</label>-->
        <!--<div class="input-group">-->
            <!--<input type="text" name="collaborators" class="form-control" id="collaborator" placeholder="Enter username">-->
    		  <!--<span class="input-group-btn">-->
    			<!--<button class="btn" type="button">Search</button>-->
    		  <!--</span>-->
        <!--</div>-->
    <!--</div>-->

    <!--search bar-->
    <div class="container collaborator_search">
        <div class="row">
            <div class="col-md-6">
                <label for="collaborator">Collaborator</label>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input id="search_users" type="text" class="form-control input-lg" placeholder="type user name" />
                    <span class="input-group-btn">
                        <a href='/' id="user_search_btn" class="btn btn-info btn-lg">
                            <i class="fa fa-plus"></i>
                        </a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row collaborator_row" id="collaborator_list">
        </div>
    </div>

    <!--<div class="input-container">-->
        <!--<div class="row">-->
            <!--<div class="form-group col-xs-6">-->
                <!--<label>Start Date</label>-->
                <!--<div class='input-group' id='startdate' >-->
                    <!--<input type='text' name='startdate' class="form-control datepicker" />-->
    					<!--<span class="input-group-addon">-->
    						<!--<span class="glyphicon glyphicon-calendar "></span>-->
    					<!--</span>-->
                <!--</div>-->
            <!--</div>-->
            <!---->
            <!--<div class="form-group col-xs-6">-->
                <!--<label>End Date</label>-->
                <!--<div class='input-group' id='enddate'>-->
                    <!--<input type='text' name='enddate' class="form-control datepicker" />-->
    					<!--<span class="input-group-addon">-->
    						<!--<span class="glyphicon glyphicon-calendar"></span>-->
    					<!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="input-container">
        <label for="description">Description</label>
        <div class="input-group col-xs-12">
            <input type="text" name="description" class="form-control" id="description" placeholder="Something about your trip">
        </div>
    </div>


    <div class="input-container" >
        <!--<label for="form-photo">Cover Photo</label>-->
        <!--<div class="col-xs-12">-->
            <!--<div class="thumbnail select_picture_thumbnail">-->
                <!--<img src="" alt="...">-->
                <!--<a href="#" class="btn btn-default select_file" role="button">Choose from library</a>-->
            <!--</div>-->
        <!--</div>-->
        <label for="form-photo">Cover Photo</label>
        <!--<div class="col-xs-12">-->
            <!--<div class="thumbnail select_picture_thumbnail">-->
                <!--<img src="" alt="...">-->
                <!--<input type="file" name="image" class="12u$ button upload_btn"-->
                       <!--accept="application/x-zip-compressed,image/*"-->
                       <!--title="">-->

                <!--<div class="container">-->
                    <!--<div class="row">-->
                        <!--<span>Upload</span>-->
                        <!--<input type="file" name="image" class="12u$ button upload_btn upload"-->
                        <!--accept="application/x-zip-compressed,image/*"-->
                        <!--title="Add a picture!">-->

                        <button class="12u button">
                            <input type="file" name="image" class="file-input" accept="application/x-zip-compressed,image/*">
                        </button>


                        <!--<div class="box">-->
                        <!--<input type="file" name="file-2[]" id="file-2" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple />-->
                        <!--<label for="file-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span></label>-->
                        <!--</div>-->

                        <!--<div id="button-create" class="3u">-->
                            <!--<input type="submit" class="button special" value="add">-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    </div>

    <div class="12u 12u$(xsmall) actions" >
        <input type="submit" class="button special" value="Create New Journal" style="width:80%">
        <a href="/myjournal" class="button" value="cancel" id="cancel_btn"/> Cancel </a>
    </div>



    <!--<div id="button-create">-->
        <!--<input type="submit" class="button special" value="Create New Journal">-->
    <!--</div>-->


    <!--div class="12u$">
        <ul class="actions">
            <li><a href="/myjournal" class="button special" id="create_journal">Create New Journal</a></li>
        </ul>
    </div-->
</form>




{{> loader}}

<script>

    $(document).ajaxStart(function(){
        console.log("loader triggered!");
        $("#loader").show();
    });
    $(document).ajaxComplete(function(){
        console.log("loader hided!");
        $("#loader").hide();
    });

    $(document).on('ready', function() {

        var col_list = [];

        $('#back_btn').attr('href', '/myjournal');

        $('#user_search_btn').click(function(e){
            e.preventDefault();
            console.log('user search btn clicked!');

            var name = $('#search_users').val();
            console.log(name);

//            $.post('/checkuser', {name : name}, function(res){
//                console.log(res);
//                console.log(typeof res);
//            });

            var data = {name : name};
            console.log(data);

            if(col_list.indexOf(name)!=-1){
                swal(name + " is already a collaborator");
            }
            else {

                $.post('/checkuser', data).success(function () {
//                swal({
//                                title: "Success!",
//                            },
//                            function(){
//
//                            });
                    col_list.push(name);
                    console.log("current collaborators: " + col_list);
                    generateCollaboratorList(col_list);

                }).fail(function () {
                    swal("invalid user name, please check");
                });
            }


        });

        $("#create_journal_form").submit(function (event) {

            //disable the default form submission
            event.preventDefault();
            //grab all form data

//            var formData = $(this).serialize();
            var formData = new FormData($(this)[0]);

            console.log("formData: " + formData);
            formData.append('collaborators', col_list);

            //loading effect (to be added)

            //AJAX REQUEST HERE
            $.ajax({
                url: '/createjournal',
                type: 'POST',
                data: formData,
                // async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function () {

                    swal({
                            title: "Success!",
                            },
                            function(){
                                window.location.replace('/myjournal');

                            });
                },
                error: function(){

                    swal("Met some problems, please try again :P");
                }
            });
        });

        function generateCollaboratorList(list){
            var s = "";
            for(index in list){
                s += "<div id='" + list[index] + "'+ class='collaborator'><p>" + list[index] +"</p> <a " +
                        " href='/myjournal' class='remove_user_btn'><i class='fa fa-times'></i></a></div>";
            }
            $('#collaborator_list').html(s);
        }

//        $('.remove_user_btn').click(function(e){
//            e.preventDefault();
//            console.log('remove user btn clicked');
//            //var name = this.parent();
//            //console.log(name);
//        });

        $('body').on("click", '.remove_user_btn', function(e){
            e.preventDefault();
            console.log('remove user btn clicked');

            var parent = $(this).parent();
            console.log(parent.val());
            console.log(parent.attr('id'));

            col_list.splice(col_list.indexOf(parent.attr('id')), 1);
            generateCollaboratorList(col_list);
        });

    });
</script>
        


</body>
</html>