<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

<!--<div class="header">-->
    <!--<a href="/journal">-->
        <!--<img src="/images/back_btn.png">-->
    <!--</a>-->
    <!--<p> New Journal </p>-->
<!--</div>-->

<!--<div class="empty"></div>-->
{{> header}}


<div class="input-container">
    <label for="form-title">Title</label>
    <div class="input-group col-xs-12">
        <input type="text" class="form-control" id="form-title" placeholder="Title">
    </div>
</div>

<div class="input-container">
    <label for="form-collaborator">Collaborators</label>
    <div class="input-group">
        <input type="text" class="form-control" id="form-collaborator" placeholder="Enter username">
		  <span class="input-group-btn">
			<button class="btn btn-default" type="button">Search</button>
		  </span>
    </div>
</div>

<div class="input-container">
    <div class="row">
        <div class="form-group col-xs-6">
            <label for="datetimepicker-start">Start Date</label>
            <div class='input-group date' id='datetimepicker'>
                <input data-format="yyyy-MM-dd" type='text' class="form-control" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label for="datetimepicker-end">End Date</label>
            <div class='input-group date' id='datetimepicker'>
                <input data-format="yyyy-MM-dd" type='text' class="form-control" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
            </div>
        </div>
    </div>
</div>

<div class="input-container">
    <label for="form-location">Location</label>
    <div class="input-group">
        <input type="text" class="form-control" id="form-location" placeholder="Select where you are">
		  <span class="input-group-btn">
			<button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-map-marker"></span>
            </button>
		  </span>
    </div>
</div>

<div class="input-container">
    <label for="form-photo">Cover Photo</label>
    <div class="col-xs-12">
        <div class="thumbnail">
            <img src="" alt="...">
            <a href="#" class="btn btn-default" role="button">Choose from library</a>
        </div>
    </div>
</div>

<div class="12u$">
    <ul class="actions">
        <li><a class="button special" id="create_journal">Create New Journal</a></li>
    </ul>
</div>


</body>
</html>