<!DOCTYPE HTML>

<html>
<head>
    {{> html_head}}
</head>
<body>

    <!-- Header -->
    {{> header }}

    <div class="container">
        <h3> Profile </h3>

            <form id="setting_form" class="input-container" action="javascript:;"
                  method = "post" enctype="multipart/form-data">

                <div class="12u 12u$(xsmall)">
                    <input type="text" name="username" id="change_username" value="" placeholder="{{name}}" />
                </div>
                <div class="12u 12u$(xsmall)">
                    <input type="email" name="email" id="change_email" value="" placeholder="{{email}}" />
                </div>
                <div class="12u 12u$(xsmall)">
                    <input type=password name="password" id="change_password" value="" placeholder="new password" />
                </div>

                <label for="form-photo">Cover Photo</label>
                <div class="col-xs-12">
                    <div class="thumbnail select_picture_thumbnail">
                        <img src="{{profilePicture}}" alt="...">
                        <input type="file" name="image" class="12u$ button upload_btn"
                               accept="application/x-zip-compressed,image/*"
                               title="">
                    </div>
                </div>

                <div class="12u 12u$(xsmall) actions">
                    <input type="submit" class="12u$ button special submit_btn" value="Save"/>
                </div>

                <div class="12u 12u$(xsmall) actions">
                    <a href="/myjournal" class="button" value="cancel" id="cancel_btn"/> Cancel </a>
                </div>

            </form>

    </div>

    <!-- Footer -->
    <!--<footer id="footer">-->
        <!--<ul class="icons">-->
            <!--<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
            <!--<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
            <!--<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
            <!--<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>-->
            <!--<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>-->
        <!--</ul>-->
        <!--<ul class="copyright">-->
            <!--<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>-->
        <!--</ul>-->
    <!--</footer>-->

    <script>
        $(document).on('ready', function() {
            $('#back_btn').attr('href', '/myjournal');

            $("#setting_form").submit(function (event) {

                //disable the default form submission
                event.preventDefault();
                //grab all form data

//            var formData = $(this).serialize();
                var formData = new FormData($(this)[0]);

                console.log("formData:" + formData);

                //loading effect (to be added)

                //AJAX REQUEST HERE
                $.ajax({
                    url: '/change_setting',
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function () {

                        swal({
                                    title: "Changes Saved!",
                                },
                                function(){
                                    window.location.replace('/myjournal');
                                });

//                        window.location.reload();
                    },
                    error: function(){

                        swal("Met some problems, please try again :P");
                    }
                });
            });

        });
    </script>


</body>
</html>