<!DOCTYPE html>
<html lang="en">

<html>
<head>
    <title>Journal Up</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
    <!--<link rel="stylesheet" href="JournalUp/assets/css/main.css" />-->



    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />
    <link href="/css/journalup.css" type="text/css" rel="stylesheet">


    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/util.js"></script>
    <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
    <script src="/js/main.js"></script>

</head>

<body>
<!-- this is a comment in HTML -->

<!--<div class="header">-->
    <!--<a href="/journal">-->
        <!--<img src="/images/back_btn.png">-->
    <!--</a>-->
    <!--<p> Share </p>-->
<!--</div>-->

<!--<div class="empty"> </div>-->

{{> header }}

<div class="container">

    <h4> share to: </h4>
    <a href="http://www.facebook.com" class="btn btn-default"> Facebook </a>
    <a href="http://www.google.com" class="btn btn-default"> Google </a>


</div>

</body>

</html>