<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

{{> header}}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Journal Up</h2>
        <p>Create Shared Travel Story</p>
    </div>
</section>

<div class="container">
    <form method="post" action="#">
        <div class="row uniform">

            <!--div class="12u 12u$(xsmall)">
                <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
            </div>
            <div class="12u 12u$(xsmall)">
                <input type="text" name="demo-password" id="demo-password" value="" placeholder="Password" />
            </div-->

            <div class="12u$">
                <ul class="actions">
                    <!--li><a href="/login/facebook" class="button special">Login with Facebook</a></li-->
                    <li><p class="facebookLogin">Login with Facebook
                        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                        </fb:login-button>
                    </p></li>
                    <!--li><a href="/myjournal" class="button special">Sign In</a></li>
                    <li><a href="/signup" class="button">Sign Up</a></li-->
                </ul>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).on('ready', function() {
        $('#header').hide();
    });
</script>
{{> facebook}}
<script src="/js/facebook.js"></script>

</body>
</html>
