<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {{> html_head}}
</head>

<body>

<!--<div class="header">-->
    <!--<a href="/">-->
        <!--<img src="/images/back_btn.png">-->
    <!--</a>-->
    <!--<p> Journal Up </p>-->
<!--</div>-->

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>


<form method="post" action="#">
    <div class="row uniform">
        <div class="12u 12u$(xsmall)">
            <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
        </div>
        <div class="12u$ 12u$(xsmall)">
            <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
        </div>
        <div class="12u$ 12u$(xsmall)">
            <input type="text" name="demo-password" id="demo-password" value="" placeholder="Password" />
        </div>

        <div class="12u$ 12u$(small)">
            <input type="checkbox" id="collaborate" name="demo-human" checked>
            <label for="collaborate">I want to be a journal collaborator</label>
        </div>


        <!--<div class="12u$">-->
            <!--<ul class="actions">-->
                <!--<li><input type="submit" value="Send Message" class="special" /></li>-->
                <!--<li><input type="reset" value="Reset" /></li>-->
            <!--</ul>-->
        <!--</div>-->

        <div class="12u$">
            <ul class="actions">
                <li><a href="/myjournal" class="button special">Sign Up</a></li>
                <li><a href="/" class="button">Cancel</a></li>
            </ul>
        </div>
    </div>
</form>


<script>
    $(document).on('ready', function() {
        $('#header h1').hide();
        $('#header nav').hide();
    });
</script>



</body>
</html>
