<!DOCTYPE html>
<html lang="en">

<html xmlns:wb="http://open.weibo.com/wb">

<html>
<head>
    {{> html_head}}
    <meta property="wb:webmaster" content="6b6d356ba75e582c" />
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2745435722" type="text/javascript"
            charset="utf-8"></script>
</head>

<body>

{{> header}}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Journal Up</h2>
        <p>Create Shared Travel Story</p>
    </div>
</section>

<div class="container">
    <!--<form method="post" action="#">-->
        <!--<div class="row uniform">-->

            <!--div class="12u 12u$(xsmall)">
                <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
            </div>
            <div class="12u 12u$(xsmall)">
                <input type="text" name="demo-password" id="demo-password" value="" placeholder="Password" />
            </div-->

            <div class="12u$">
                <ul class="actions">
                    <!--li><a href="/login/facebook" class="button special">Login with Facebook</a></li-->
                    <li><p class="facebookLogin">
                        <fb:login-button size="large" scope="public_profile,email" onlogin="checkLoginState();">
                            Login with Facebook
                        </fb:login-button>
                    </p></li>

                    <!--sign in with weibo-->
                    <li>
                        <wb:login-button id="wb_btn" type="3,2" onlogin="login" onlogout="logout">Login with
                            weibo</wb:login-button>
                    </li>

                </ul>
            </div>
        <!--</div>-->
    <!--</form>-->
</div>

<script>
    $(document).on('ready', function() {
        $('#header').hide();
        //$('#facebook').click(fbLogin);

    });
</script>

{{> facebook}}
<script src="/js/facebook.js"></script>
<script src="/js/weibo.js"></script>


</body>
</html>
