.container {
    /*border-top: dotted;*/
    /*border-top-color: #2a6496;*/
    /*border-top-width: medium;*/
}

.header {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2a6496;
    color: white;
    font-family: "Nanum Pen Script", "Brush Script MT", Chalkboard;
    font-size: 3em;
    text-align: center;
    margin-top: auto;
    padding: 0;
    margin: 0;
    float: left;
    vertical-align: middle;

}

.header h1{
    text-align: center;
}

.header .back_btn{
    float: left;
}

.header .logout_btn{
    vertical-align: middle;
}

.header .logout_btn img{
    float: right;
    height: 50px;
}

body {
    padding-top: 70px;
}

#user_name {
    font-weight: bold;
}

#profile{
    top: 10%;
    display: inline;
}

#profile img{
    width: 5em;
    margin: 0 auto;
    float: right;
}

#profile p{
    margin: 0.2em;
}

.active {
    font-weight: bold;
}
.img-container{
    width: 10%;
}

.footer {
    z-index: 200;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline;
    text-align: center;
    color: white;
}

.empty{
    height: 80px;
}

.footer a{
    z-index: 100;
    font-family: "Nanum Pen Script", "Brush Script MT", Chalkboard;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
    color: white;
}

#my_journals{
    background-color: orangered;
}

#my_journals:hover {
    color: black;
}

#gallery {
    background-color: yellowgreen;
}

#gallery:hover {
    color: black;
}

.thumbnail {
    margin-top: 1em;
}

#new_journal {
    text-align: center;
}

#profile {
    align-items: center;
}

.highlight {
    font-weight: bold;
    color: darkorange;
}

/* Create new journal page */
.input-container{
    margin: 1.3em;
    align-text: center;
}

#button-create{
    margin: auto;
}

.media-container{
    padding: 0.5em;
}

.media{
    height: 120px;
    margin: 0;
}

.media img{
    width: auto;
    height: 100%;
    overflow: hidden;
}

#button-view{
    position: fixed;
    width: 100%;
    margin: auto;
    bottom: 0;
}

.search-box{
    margin-bottom: 5px;
}

#input-4 {
    background-color: gainsboro;
    overflow: hidden;
    color: transparent;
    width: 100%;
    margin: 0.5em;
}

.journal_post{
    text-align: center;
}

.journal_post img{
    width: 300px;
}

.inner{
    font-size: large;
}

.inner p{
    font-size: smaller;
    font-family: "Times New Roman";
    color: whitesmoke;
}


.dialog__content{
    width: 80%;
}

.dialog__content {
    background: #21b2a6;
}

.dialog__content .button{
    width: 25em;
    margin-bottom: 1em;
}

.dialog__content button{
    margin-top: 6em;
}

#back_btn {
    font-size: 1.2em;
    margin-left: 1em;
}

.journal_options li{
     display: inline;
     text-decoration: none;
     margin-right:1.5em;
}

a, a:link, a:visited, a:active, a:hover {
    border:0!important;
}

.collaborator_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
 }

.collaborator_list li{
    display: inline;
    padding-left: 0;
}